name: Deploy Docs

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      REPO_URL: https://github.com/${{ github.repository }}
      REPO_NAME: ${{ github.repository }}
      SITE_URL: https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Deploy
        run: mkdocs gh-deploy --force
